
nav {
    display: flex;
}
nav a{
    margin: 0 20px;
    text-align: center;
    text-decoration: none;
    font-family: cursive;
    font-size: 18px;
    color:  gray;
    /* text-shadow: 1px 1px 4px gray; */
}
nav a:hover{
    border-bottom: 2px solid yellowgreen;
    color: black;
}